<!-- Top banner content here -->
<app-header></app-header>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="!isScreenSmall()">
    <!-- Sidenav content here -->
    <app-side-header></app-side-header>
    <app-sidenav-list></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
<!--
    <button mat-icon-button color="accent" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
-->
    <!-- Main content here -->
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
