<mat-toolbar fxLayoutAlign="start center">
  <button
    mat-button
    color="accent"
    class="sidenav-toggle"
    (click)="toggleSidenav.emit()"
  >
    <mat-icon class="mat-icon">menu</mat-icon>
  </button>

  <span fxHide.lt-md>Contact Manager</span>

  <div class="fill-remaining-space"></div>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openAddContactDialog()">New Contact</button>
  </mat-menu>
</mat-toolbar>
