.wraper {
  position: relative;
  top: 60px;
  height: 100%;
  margin-bottom: 80px;
  }

.card {
  margin: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  width:100%;
}

