<mat-card class="card">
  <mat-card-title>All books in the libaray</mat-card-title>
  <mat-card-content>
    <div class="container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- info Column -->
        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef>Info.</th>
          <td mat-cell *matCellDef="let book">
            <button mat-icon-button matTooltip="Details {{book.bookID}}" [routerLink]="['/books',book.bookID]">
              <mat-icon>infomation</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- bookID Column -->
        <ng-container matColumnDef="bookID">
          <th mat-header-cell *matHeaderCellDef>Id.</th>
          <td mat-cell *matCellDef="let book">{{ book.bookID }}</td>
        </ng-container>

        <!-- title Column -->
        <ng-container  matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let book">{{ book.title }}</td>
        </ng-container>

        <!-- author Column -->
        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef>Author</th>
          <td mat-cell *matCellDef="let book">{{ book.author }}</td>
        </ng-container>

        <!-- Publication Year Column -->
        <ng-container matColumnDef="publicationYear">
          <th mat-header-cell *matHeaderCellDef>Publication Year</th>
          <td mat-cell *matCellDef="let book">{{ book.publicationYear }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onRowClicked(row)"
        ></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[2, 3, 4]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
