<app-book-menu></app-book-menu>
<div class="wraper">
<mat-card class="card">
  <mat-card-title>All books in the library</mat-card-title>
  <mat-card-content>
    <app-book-table></app-book-table>
  </mat-card-content>
  <mat-card-footer>
    <div class="button-container">
      <button mat-mini-fab color="accent" aria-label="Add book">
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>
  </mat-card-footer>
</mat-card>

<mat-card class="card">
  <mat-card-title>All library readers</mat-card-title>
  <mat-card-content>
    <app-reader-table></app-reader-table>
  </mat-card-content>
  <mat-card-footer>
    <div class="button-container">
      <button mat-mini-fab color="accent" aria-label="Add reader">
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>
  </mat-card-footer>
</mat-card>
</div>
